@using CarPortal.Services.Interfaces

@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<OfferViewModel>

<style>
	

	/*Card*/
	.card {
		--main-color: #323232;
		--sub-color: #00bfff;
		--bg-color: #c7c7c7;
		--accent-color: #00bfff;
		margin-left: 30px;
		margin-bottom: 30px;
		margin-top: 50px;
		position: relative;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		width: 400px;
		padding: 25px;
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		background-color: var(--bg-color);
		transition: all 0.2s;
		cursor: pointer;
		box-shadow: 0px 0px 5px -1.5px #000;
	}

	.card::before {
		content: '';
		width: 99%;
		height: 99%;
		background: var(--sub-color);
		position: absolute;
		z-index: -1;
		top: 1px;
		left: 1px;
		border-radius: 25px;
		transition: all 0.3s;
	}

	.card__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.card__img {
		width: 100%;
	}

	.card__title {
		color: var(--main-color);
		font-weight: 900;
		font-size: 25px;
	}

	.card__subtitle {
		color: var(--sub-color);
		font-weight: 600;
		font-size: 20px;
	}

	.card__icon {
		width: 40px;
		height: 40px;
		transform: rotate(-45deg);
		transition: all 0.3s;
	}

	.card__icon svg {
		width: 100%;
		height: 100%;
	}

	.card__icon g {
		fill: var(--main-color);
	}

	.card__icon circle, polyline, line {
		stroke: var(--main-color);
	}

	.card:hover .card__icon {
		transform: rotate(0);
	}

	.card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line {
		stroke: var(--accent-color);
	}

	.card:hover .card__icon g {
		fill: var(--accent-color);
	}

	.card:hover {
		box-shadow: 0px 0px 20px -5px #000;
	}

	.card:hover::before {
		transform: rotate(10deg);
		box-shadow: 0px 0px 20px -5px #000;
	}
	.text-decoration {
		text-decoration: none;
	}
	button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
	}

	/*Button*/
	button.show-more {
		width: 12rem;
		height: auto;
	}

	button.show-more .circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 3rem;
		height: 3rem;
		background: #00bfff;
		border-radius: 1.625rem;
	}

				button.show-more .circle .icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
	}

	button.show-more .circle .icon.arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;
	}

	button.show-more .circle .icon.arrow::before {
		position: absolute;
		content: "";
		top: -0.29rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid #fff;
		border-right: 0.125rem solid #fff;
		transform: rotate(45deg);
	}

	button.show-more .button-text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 1.85rem;
		color: #ffffff;
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
	}

	button:hover .circle {
		width: 100%;
	}

	button:hover .circle .icon.arrow {
		background: #fff;
		transform: translate(1rem, 0);
	}

	button:hover .button-text {
		color: #fff;
	}


</style>

<body style="background-color:lightseagreen">

<video class="w-100" autoplay loop muted>
	<source src="/videos/Modifying an Orpheus 2000 sedan.mp4" type="video/mp4" />
</video>

<div class="alert alert-secondary" role="alert">
  @ViewBag.InfoMessage
</div>
<div class="row">
	@foreach (var item in Model)
	{
		<div class="card">
			<a href="#" class ="text-decoration">
				<div class="card__img"><img src="@item.Images.PhotoPath" class="card-img-top" height="225px"/></div>
				<div class="card__title">@item.Title</div>
				<div class="card__wrapper">
					<div class="card__subtitle">@item.Price lv.</div>
					<div class="card__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: rgb(224, 223, 220); flex-shrink: 0; cursor: auto;" color="rgb(224, 223, 220)"><g color="rgb(224, 223, 220)"><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="rgb(224, 223, 220)" stroke-miterlimit="10" stroke-width="16"></circle><polyline points="134.1 161.9 168 128 134.1 94.1" fill="none" stroke="rgb(224, 223, 220)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="88" y1="128" x2="168" y2="128" fill="none" stroke="rgb(224, 223, 220)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></g></svg></div>

				</div>
			</a>
		</div>
	}
	<a asp-controller="FilterCar" asp-action="Index">
	<div class="d-flex justify-content-center">
		<button class="show-more">
			<span class="circle" aria-hidden="true">
				<span class="icon arrow"></span>
			</span>
			<span class="button-text">Show All</span>
		</button>
	</div>
	</a>
</div>
</body>
<script src="~/lib/jquery/dist/jquery.js"></script>
