@using CarPortal.Services.Interfaces

@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<OfferViewModel>

<style>
	.card:hover{
		box-shadow : -1px 9px 40px -12px #808080;
	}
	.img-fluid{
		width: 1500px;
		height: auto;
	}
</style>

<img src="photos/Untitled design.png" class="img-fluid" alt="Responsive image">

@if (User.Identity.IsAuthenticated)
{
<div class="alert alert-secondary" role="alert">
  Vehicles in region @ViewBag.UserRegion!
</div>
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="card" style="width: 20em; margin: 60px;">
				<img src="@item.Images.First().PhotoPath" class="card-img-top" />
				<div class="card-body">
					<div class="card-title">
						<h2>@item.Title</h2>
					</div>
					<div class="card-text">
						<p>@item.Description</p>
					</div>
					<a href="#" class="btn btn-primary">Read More...</a>
				</div>
			</div>
		}
	</div>
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $('.card').hover(
        function () {
            $(this).animate({
                marginTop: "-=1%",
                marginBottom : "+=1%"
            },200)
        },
        function () {
            $(this).animate({
                marginTop: "+=1%",
                marginBottom : "-=1%"
            })
        }
    )
</script>
