@using CarPortal.Services.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Add Offer Page";
}
@model CarPortal.Web.ViewModels.AddOffer.AddOfferViewModel
@inject IAddOfferService service

<form>
	<div class="form-group">
		<label for="formGroupExampleInput">Title</label>
		<input asp-for="Title" type="text" class="form-control" id="Title" placeholder="Enter Title">
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="formGroupExampleInput">Description</label>
		<input asp-for="Description" type="text" class="form-control" id="Title" placeholder="Enter Description">
		<span asp-validation-for="Description" class="text-danger">Description must be between 100 and 1000!</span>
	</div>
	<div class="form-group" style="padding-top: 8px; padding-right:7px;">
		<label asp-for="Car.Model.Make" class="control-label"></label>
		<br />
		<select asp-for="Car.Model.Make.Id" class="form-control" asp-items="@(new SelectList(ViewBag.Makes,"MakeId","Make.Name"))">
			<option value="0">--Select Make--</option>
		</select>
	</div>
	<br />
	<div class="form-group" style="padding-top:8px; padding-right:7px;">
		<label asp-for="Car.Model" class="control-label">Model</label>
		<br />
		<select asp-for="Car.Model.Id" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<label asp-for="Car.EngineType" class="control-label">Engine Type</label>
		<br />
		<select asp-for="Car.EngineType.Id" asp-items="@(new SelectList(await service.GetAllEngineTypes(),"Id","Type"))" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<label for="formGroupExampleInput">Year of manufacure</label>
		<input asp-for="Car.ManufactureYear" type="text" class="form-control" id="YearOfManifacture" placeholder="Enter Year">
		<span asp-validation-for="Title" class="text-danger">Enter valid year of manifacture!</span>
	</div>
	<div class="form-group">
		<label asp-for="Car.Color" class="control-label">Color</label>
		<br />
		<select asp-for="Car.ColorId" asp-items="@(new SelectList(await service.GetAllColors(),"Id","Name"))" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<label asp-for="Car.Condition" class="control-label">Condition</label>
		<br />
		<select asp-for="Car.ConditionId" asp-items="@(new SelectList(await service.GetAllConditions(),"Id","Name"))" class="form-control">
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Sign in</button>
</form>

@section scripts{
	<script>
		$("#Car.Model.Make.Id").change(function () {
			$.get("/AddOffer/GetModelsList", { id: $("#Car.Model.Make.Id").val() }, function (data) {
				$("#Car.Model.Id").empty();
				$.each(data, function (index, row) {
					$("#Car.Model.Id").append("<option value='" + row.memberId + "'>" + row.name + "</option>")
				});
			});
		})
	</script>
}
