@using CarPortal.Services.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Add Offer Page";
}
@model CarPortal.Web.ViewModels.AddOffer.ModelViewModel
@inject IAddOfferService service

<form>
	<div class="form-group" style="padding-top: 8px; padding-right:7px;">
		<label asp-for="Make" class="control-label"></label>
		<br />
		<select asp-for="MakeId" class="form-control" asp-items="@(new SelectList(ViewBag.Makes,"MakeId","Make.Name"))">
			<option value="0">--Select Make--</option>
		</select>
	</div>
	<br />
	<div class="form-group" style="padding-top:8px; padding-right:7px;">
		<label asp-for="Name" class="control-label">Model</label>
		<br />
		<select asp-for="Id" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<label class="control-label">Engine Type</label>
		<br />
		<select asp-items="@(new SelectList(await service.GetAllEngineTypes(),"Id","Type"))" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<label for="formGroupExampleInput">Year of manufacure</label>
		<input type="text" class="form-control" id="YearOfManifacture" placeholder="Enter Year">
	</div>
	<div class="form-group">
		<label class="control-label">Color</label>
		<br />
		<select asp-items="@(new SelectList(await service.GetAllColors(),"Id","Name"))" class="form-control">
		</select>
	</div>
	<div class="form-group">
		<label class="control-label">Condition</label>
		<br />
		<select asp-items="@(new SelectList(await service.GetAllConditions(),"Id","Name"))" class="form-control">
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Sign in</button>
</form>

@section scripts{
	<script>
		$("#MakeId").change(function () {
			$.get("/AddOffer/GetModelsList", { id: $("#MakeId").val() }, function (data) {
				$("#Id").empty();
				$.each(data, function (index, row) {
					$("#Id").append("<option value='" + row.memberId + "'>" + row.name + "</option>")
				});
			});
		})
	</script>
}
